*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //this define 1 rem 10px
    font-size: 62.5%;
}

/* set the overall font text style and padding around */
body {
    box-sizing: border-box;

}